version: "3.9"

services:
  nessie:
    image: ghcr.io/projectnessie/nessie:0.106.1-java
    container_name: nessie
    ports:
      - "32010:19120"
    volumes:
      - ./nessie-data:/data
    environment:
      NESSIE_VERSION_STORE_TYPE: ROCKSDB
      QUARKUS_HTTP_ROOT_PATH: /api/v1

  trino:
    image: trinodb/trino:479
    container_name: trino
    ports:
      - "32007:8080"
    volumes:
      - ./trino/catalog:/etc/trino/catalog
    depends_on:
      - nessie

  spark:
    image: apache/spark:4.1.1
    container_name: spark
    command: >
      /opt/spark/bin/spark-class
      org.apache.spark.deploy.master.Master
    volumes:
      - ./spark:/opt/spark/conf
    ports:
      - "32008:7077"
      - "32009:8080"
    depends_on:
      - nessie
