version: "3.9"

services:
  nessie:
    image: projectnessie/nessie:0.76.6
    container_name: nessie
    ports:
      - "19120:19120"
    volumes:
      - ./nessie-data:/data
    environment:
      NESSIE_VERSION_STORE_TYPE: ROCKSDB

  trino:
    image: trinodb/trino:479
    container_name: trino
    ports:
      - "8080:8080"
    volumes:
      - ./trino/catalog:/etc/trino/catalog
    depends_on:
      - nessie

  spark:
    image: apache/spark:4.1.1
    container_name: spark
    command: >
      /opt/spark/bin/spark-class
      org.apache.spark.deploy.master.Master
    volumes:
      - ./spark:/opt/spark/conf
    ports:
      - "7077:7077"
      - "8081:8080"
    depends_on:
      - nessie
